<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Content", false)
</head>
<body>
    <header>
        <div class="header-banner">
            <a href="/">
                <div class="logo"></div>
            </a>
            <div class="search">
                <div class="input">
                    <input type="text" id="searchProducts" placeHolder="Buscar..." />
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <nav id="menu">
            <div class="site-title">Veterinaria Puppis</div>
            <ul>
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Consultorios", "Index", "Room")</li>
                <li>@Html.ActionLink("Doctores", "Index", "Doctor")</li>
                <li>@Html.ActionLink("Clientes", "Index", "Client")</li>
                <li>@Html.ActionLink("Pacientes", "Index", "Patient")</li>
                <li>@Html.ActionLink("Turnos", "Index", "Appointment")</li>
                <li>@Html.ActionLink("Calendario", "Calendar", "Appointment")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
        </nav>
    </header>

    <section class="content">
        @RenderBody()
    </section>

    <aside>
        <p><img src="~/Images/publicidad1.png" style="width:295px; height:240px" /></p>
        <p></p>
        <p><img src="~/Images/publicidad2.png" style="width:295px; height:240px" /></p>
    </aside>

    <div class="up-to-top footerView visible-title" style="position: fixed; bottom: 0px; display: block;">
        <span class="icon top"></span>
        Subir
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Puppis</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Scripts/layout.js")"></script>
</body>
</html>
